%h1 Listing people

%table
  %tr
    %th User
    %th Username
    %th Name
    %th Avatar
    %th Last checked
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.user
      %td= person.username
      %td= person.name
      %td= person.avatar
      %td= person.last_checked
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Person', new_person_path
