- title "People"

%table.table.table-condensed
	%thead
		%tr
			%th Username
			%th Name
			%th Location
			%th Last checked
			%th{ :colspan => 2 }

	%tbody
	- @people.each do |person|
		%tr
			%td= link_to(person.username, person)
			%td= person.name
			%td= person.location
			%td= person.last_checked
			%td= link_to 'Edit', edit_person_path(person)
			%td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%p
	= link_to 'New Person', new_person_path
