- title @person.username, false

.row
	.span6
		%h2
			= image_tag(@person.avatar)
			= @person.username
	.span6
		%blockquote= @person.description

%p
	= link_to 'Edit', edit_person_path(@person)
	\|
	= link_to 'Back', people_path
